<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Cubbyhole{% endblock title %}</title>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Cubbyhole</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
                {% if tokenExist(req) %}
                    <ul class="nav navbar-nav">
                        <li><a href="/user/webapp">WebApp</a></li>
                    </ul>
                {% endif %}


                <ul class="nav navbar-nav navbar-right">
                    {% if tokenExist(req) %}
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="/user/me">{{ user.email }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/user/me">About me</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    {% if isAdmin(req) %}
                            <li><a href="/admin">Admin</a></li>
                    {% endif %}
                    {% else %}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
        {% for type, flashs in getFlashs(res) %}
            <div class="alert alert-{{ type }} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {% spaceless %}
                <strong>
                    {% if type == 'success' %}
                        Success !
                    {% elseif type == 'info' %}
                        Information :
                    {% elseif type == 'warning' %}
                        Warning !
                    {% else %}
                        Error !
                    {% endif %}
                </strong>
                {% endspaceless %}
            {% if flashs.length > 1 %}
                <ul>
                {% for flash in flashs %}
                    <li>{{ flash }}</li>
                {% endfor %}
                </ul>
            {% else %}
                {{ flashs|first }}
            {% endif %}
            </div>
        {% endfor %}
        {% block body %}{% endblock body %}
    </div>

    {% block pageJavascript %}
        <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap/alert.js"></script>
        <script type="text/javascript" src="/js/bootstrap/dropdown.js"></script>
    {% endblock %}
    </body>
</html>