{% extends 'global/front.html.twig' %}
{% block title -%}
    Admin - {% parent %}
{%- endblock title %}
{% block body %}
    <h1>Plans</h1>
    <hr>
    <a href="/admin/plan/new-plan"> <span class="glyphicon glyphicon-plus"></span> New plan </a><br/><br/>
    {% for plan in plans %}
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <a aria-hidden="true" class="close pull-right" href="/admin/plan/remove/{{ plan._id }}" onclick="return confirm('Please confirm removing')">×</a>
                    <h3> <a href="/admin/plan/edit-plan/{{ plan._id }}">{{ plan.name }}</a></h3>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock body %}