{% extends 'global/front.html.twig' %}
{% block title %}
    Home - {% parent %}
{% endblock title %}
{% block body %}
    <h1>Offers</h1>
    <hr>
    {% for plan in plans %}
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h1>{{ plan.name }}</h1>
                    {% if plan.price == 0 %}
                        <p>Free !</p>
                    {% else %}
                        <p>{{ plan.price }}€ / month !</p>
                    {% endif %}
                    <p><a class="btn btn-primary" href="/user/addplan/{{ plan._id }}">Subscribe &raquo;</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock body %}