{% extends '../global/front.html.twig' %}
{% block body %}
    <h1>Informations Personnelles</h1>
    <span>Email : </span><span>{{ user.email }}</span>
    <span>Admin : </span><span>{{ user.admin }}</span>
{% endblock body %}